<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin all items</title>
</head>
<body>
    <h1>Reigsterd items</h1>
    <p>You can add more items by clicking on <a href="/register">Create Items</a></p>
    <div style="display:flex;flex-wrap:wrap;justify-content:center;padding:2rem;margin-top:5rem;">
        <% for(var i=0;i<items.length;i++){ %>
            <div style="width:35rem;padding:1rem;margin:1rem;border:1px solid grey;">
                <strong><%= items[i].name %></strong>
                <p><b><%= items[i]._id %></b> <%= items[i].description %></p>
                <img src="data:image/<%=items[i].itemImg.contentType%>;base64,<%=items[i].itemImg.data.toString('base64')%>" style="width:10rem;height:10rem;object-fit:cover;">         
                <i><strong>Sizes</strong><%= items[i].size %> <strong>Prices</strong><%= items[i].price %><strong>Total orders</strong> <%= items[i].orderCount %></i>
                <a href="/removeitemadmin/<%= items[i]._id %>">Remove it</a>
            </div>
        <% } %>
    </div>
</body>
</html>